@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
}

.container {
  background-color: hsl(30deg, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  display: flex;
  height: 72rem;
  width: 100%;
}
@media only screen and (max-width: 31.25em) {
  .container {
    height: 100%;
  }
}

.card {
  margin: auto;
  display: flex;
  height: 45rem;
  width: 60rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media only screen and (max-width: 31.25em) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 80rem;
    margin: auto auto;
    overflow: hidden;
    border-radius: 3rem;
  }
}
@media only screen and (max-width: 21.875em) {
  .card {
    width: 100%;
    border-radius: 1rem;
  }
}
.card .card-left {
  height: 45rem;
  width: 30rem;
  background-image: url("/images/image-product-desktop.jpg");
  background-size: cover;
  height: 45rem;
  width: 30rem;
}
@media only screen and (max-width: 31.25em) {
  .card .card-left {
    width: 43.75rem;
    height: 30.25rem;
    background-image: url("/images/image-product-mobile.jpg");
    background-size: cover;
  }
}
@media only screen and (max-width: 21.875em) {
  .card .card-left {
    width: 100%;
  }
}
.card .card-right {
  width: 30rem;
  height: 45rem;
  padding: 2rem 4rem;
  background-color: #fff;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right {
    width: 43.75rem;
    height: 45rem;
    padding: 2rem 2rem;
  }
}
@media only screen and (max-width: 21.875em) {
  .card .card-right {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}
.card .card-right p {
  font-size: 1.4rem;
  line-height: 1.6;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right p {
    font-size: 1.85rem;
    line-height: 1.7;
  }
}
.card .card-right .upper-txt {
  margin-top: 0.3rem;
  letter-spacing: 0.2rem;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .upper-txt {
    letter-spacing: 0.5rem;
  }
}
.card .card-right .txt-heading {
  margin-top: 0.1rem;
  font-family: "Fraunces";
  font-weight: 700;
  padding: 1.4rem 0;
  font-size: 3.5rem;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .txt-heading {
    padding: 0.8rem 0;
    line-height: 1.1;
  }
}
.card .card-right .txt-heading .spn {
  display: block;
  margin-top: -0.5rem;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .txt-heading .spn {
    display: inline;
  }
}
.card .card-right .lower-txt {
  padding: 0.5rem 0;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .lower-txt {
    padding: 0.8rem 0;
  }
}
.card .card-right .txt-price {
  margin-top: 0.5rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .txt-price {
    padding: 0.5rem 0;
  }
}
.card .card-right .txt-price .txt-green {
  margin-right: 1.5rem;
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 3.5rem;
  color: hsl(158deg, 36%, 37%);
}
.card .card-right .txt-price .txt-strike {
  font-size: 1.4rem;
  text-decoration: line-through;
}
.card .card-right .btn {
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border: none;
  width: 100%;
  color: #fff;
  background-color: hsl(158deg, 36%, 37%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (max-width: 31.25em) {
  .card .card-right .btn {
    margin-top: 2rem;
  }
}
.card .card-right .btn:hover {
  background-color: hsl(158deg, 51%, 37%);
}
.card .card-right .btn .cart-icon {
  margin-right: 1rem;
}/*# sourceMappingURL=main.css.map */